.password_secret {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	cursor: pointer;
}

.table tr th:first-of-type {
	text-align: center;
}

.pagination .page-item {
	cursor: pointer;
}

.board-write-textarea {
	resize: none;
	height: 250px;
}

.input-error {
	border-color: #dc3545 !important; 
	box-shadow: 0 0 0 0.25rem #dc354525 !important;
}

.input-error-msg {
	color: #dc3545;
	font-weight: 500;
}

.btn-write {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}

.board-list-title {
	cursor: pointer;
}

.board-list-title:hover {
	text-decoration: underline;
	color: #666;
}

.spinner {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.spinner .spinner-border {
	width: 100px;
	height: 100px;
	border-width: 10px;
}